@import "@fortawesome/fontawesome-free/css/all.css";

body {
    margin: 0; 
    color: #1f1f1f; 
    font-family: 'Montserrat';
}

main{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

@media all and (max-width:50em){
    main{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/**HEADER*/

header{
    background-color: #009eae;
    opacity: .8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
}

@media all and (max-width:50em){
    header{
        justify-content: center;
    }

    .header-list{
        margin-top: 2rem;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
}

.nav-item{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    text-decoration: none;
    color:#fff;
    font-size: 1.3rem;
    justify-content: center;
}

.nav-item:hover{
    font-weight: 700;
    border-bottom: 4px solid white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    flex-wrap: wrap;
}

.logo-text{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.logo-img{    
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid black;
}

/**FOOTER*/

footer{
    background-color: #757575;
    color: #fff;
    text-align: center;
    margin-top: 5%;
    padding: 20px;
    
}

/**PORTADA*/
.border-top{
    background-color: #009eae;
    opacity: .8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5rem;
    justify-content: center;
}

.logo-index{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid black;
}

@media all and (max-width:30em){
    .logo-index{
        width: 100%;
        height: 100%;
    }
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.link-item{
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.link-item:hover{
    font-weight: 700;
    border-bottom: 3px solid #33b1be;
    box-shadow: 0 4px 6px -5px #33b1be;
}

.link{
    color: #33b1be;
    font-size: 1.4rem;
}

.lema{
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
}

/**PRESENTACIÓN*/

.presentacion article{
    text-align: justify;
}

article figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 3% 0;
}

figure img{
    width: 100%;
}

figcaption{
    font-size: .9rem;
    margin-top: 5px;
    font-style: italic;
}

@media all and (min-width:60em){
    figure img{
        max-width: 50%;
    }
}

.video{
    text-align: center;
    margin: 3% 0;
}

.video iframe{
    max-width: 90%;
    border: 0;
}


/**CATEGORIA*/

.food-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
}


@media all and (max-width:70em){
    .food-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width:50em){
    .food-container{
        grid-template-columns: 1fr;
    }
}

.food{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin-top: 3rem;
    max-width: 25rem;
    background-color: #33b1be78;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
}

.food a{
    height: 100%;
}

.food a:hover{
    opacity: .9;
    box-shadow: 0 50px 50px -14px rgba(0,0,0,0.25);
}

.food-img{
    width: 100%;
    height: 15rem;
}

.food-content{
    padding: 1rem;
}


/**DETALLES*/

.food-recipe, 
.instructions{
    list-style: none;
}

.ingredient,
.instruction{
    display: flex;
    line-height: 1.5rem;
}

.quantity,
.instruction-number{
    color:#70bcaf;
    font-weight: 700;
    text-align: right;
    width: 55px;
    letter-spacing: 1.5px;
}

.description{
    margin-left: 10px;
    width: 100%;
}

.details-image{
    margin: 3% 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.review{
    margin-top: 5%;
    padding: 2rem;
    background-color: #e0e0e0;
    text-align: left;
}

.review button{
    margin-top: 10px;
    padding: .7rem;
    font-family: 'Montserrat';
}

.star-review{
    direction: rtl;
}

.review a{
    color:black;
    transition: color .4s;
}

.review a:hover,
.review a:hover ~ a,
.review a:focus,
.review a:focus ~ a {
	color: orange;
	cursor: pointer;
	}

#thanks-text{
    font-weight: 700;
    display: none;
}

.relationed-foods{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.relationed-food{
    display: flex;
    flex-direction: column;
    margin: 1%;
    background-color: #33b1be78;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
}

.relationed-food:hover{
    opacity: .8;
    box-shadow: 0 50px 50px -14px rgba(0,0,0,0.25);
}

.rel-food-img{
    width: 400px;
    height: 100%;
}

 
@media all and (max-width: 50em){
    .details-image, .rel-food-img{
    width: 100%;
    }
}


/**GENERAL*/

.no-decoration{
    text-decoration: none;
}

.black{
    color: black;
}

.titulo{
    color: #A01127;
    border-bottom: 1px solid;
}

.active{
    font-weight: 700;
    border-bottom: 3px solid white;
}

h1{
    color: #4bacb8;
    border-bottom: 2px solid;
    width: 55%;
    font-size: 2rem;
}

h2{
    font-size: 1.7rem;
}

h3{
    font-size: 1.4rem;
}

.breadcrumb{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: #4bacb8;
}

.breadcrumb a{
    color: inherit;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

.breadcrumb a:hover{
    text-decoration: underline;
    font-weight: 700;
}

.bigger{
    font-size: 4rem;
}


@media all and (max-width:50em){
    .bigger{
        font-size: 2rem;
    }
}